# DATABASE
USERNAME_DB = 
DATABASE = 
PASSWORD_DB = 
HOST_DATABASE = 
DIALECT = 
LOGGIN_DATABASE = 
OPERATORSALIASES = 
PORT_DB = 
TIMEZONE = 
LOGGING = 
POOL_MIN = 
POOL_MAX = 
POOL_ACQUIRE = 
POOL_IDLE = 

# SERVER
PORT = 3000
PORT_SOCKET = 5000

#ONE SIGNAL
ONESIGNALAPID = 
ONESIGNALAPIKEY = 

# JWT
SECRET = 
EXPIRESIN = 
DEFAULTSTRATEGY = jwt

# STORAGE
STORAGE = 
URLWEB = 

# STAGE
STAGE = development

# TWILIO
ACCOUNTSID_TWILIO = 
AUTH_TOKEN_TWILIO = 
NUMBER_TWILIO = 
SENDGRID_API_KEY =  

# MAIL
MAIL_HOST = 
MAIL_SERVICE =
MAIL_USER = 
MAIL_PASSWORD = 
MAIL_EMAIL_FR0M = 
MAIL_PORT = 
MAIL_SECURE = 
MAIL_REJECT_UNAUTHORIZED = 


# FIREBASE URL
FIREBASE_URL = 

#REDCAP TOKEN
REDCAP_API_TOKEN = 